/*.jumbotron h1{
	font-family: georgia;
}
.jumbotron{
	background-color: blue;
}*/

.nav-pills{
	font-size: 12px;
}

.jumbotron h1{
	font-size: 48px;
}

blockquote{
	font-size: 12px;
	font-style: italic;
}